/* .App {
  text-align: center;
} */
.link{  
display: grid;
  align-items: 'center';
  flex-grow: 5; 
  margin: auto;
 
  cursor: 'pointer';
  
  justify-content:space-between;
  list-style-type:none;
  border-radius: 1;
  
  
}
.link a{
color: white;
margin: auto;
display: flex;
width: 100%;
float: none;
padding: 12px 16px;
text-decoration: none;
text-align: left;

}


.link a:hover{
 
  background-color: darkslategrey;
  border-radius: 5px;
}

